<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    {{>header}}
    <h1 class="heading">about</h1>
    <p class="para">This article is about the electronic device. For mechanical precursors to the modern calculator, see mechanical
        calculator. For other uses, see Calculator (disambiguation).

        An electronic pocket calculator with a seven-segment liquid-crystal display (LCD) that can perform arithmetic
        operations

        A modern scientific calculator with a dot matrix LCD
        An electronic calculator is typically a portable electronic device used to perform calculations, ranging from
        basic arithmetic to complex mathematics.

        The first solid-state electronic calculator was created in the early 1960s. Pocket-sized devices became
        available in the 1970s, especially after the Intel 4004, the first microprocessor, was developed by Intel for
        the Japanese calculator company Busicom. They later became used commonly within the petroleum industry (oil and
        gas).</p>
        <div class="img-oper">
    <img class="oper" src="./img/p.jpg" alt="">
    <img class="oper" src="./img/mi.jpg" alt="">
    <img class="oper" src="./img/mu.jpg" alt="">
    <img class="oper" src="./img/d.jpg" alt="">
</div>
<p class="para">
        Modern electronic calculators vary from cheap, give-away, credit-card-sized models to sturdy desktop models with
        built-in printers. They became popular in the mid-1970s as the incorporation of integrated circuits reduced
        their size and cost. By the end of that decade, prices had dropped to the point where a basic calculator was
        affordable to most and they became common in schools.

        Computer operating systems as far back as early Unix have included interactive calculator programs such as dc
        and hoc, and calculator functions are included in almost all personal digital assistant (PDA) type devices, the
        exceptions being a few dedicated address book and dictionary devices.

        In addition to general purpose calculators, there are those designed for specific markets. For example, there
        are scientific calculators which include trigonometric and statistical calculations. Some calculators even have
        the ability to do computer algebra. Graphing calculators can be used to graph functions defined on the real
        line, or higher-dimensional Euclidean space. As of 2016, basic calculators cost little, but scientific and
        graphing models tend to cost more.

        With the very wide availability of smartphones, tablet computers and personal computers, dedicated hardware
        calculators, while still widely used, are less common than they once were. In 1986, calculators still
        represented an estimated 41% of the world's general-purpose hardware capacity to compute information. By 2007,
        this had diminished to less than 0.05%.[1]</p>
    {{>footer}}
</body>

</html>